name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  building:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y -qq libgtk-4-dev libadwaita-1-dev build-essential pkg-config
      - name: Build
        run: cargo build --release
      - name: upload build
        uses: actions/upload-artifact@v4
        with:
          name: 'tweaker'
          path: target/release/tweaker
